POSTGRES_URL=...
POSTGRES_USERNAME=...
POSTGRES_PASSWORD=...
GCP_PROJECT_ID=...
GCP_BUCKET_NAME=...
GCP_SERVICE_ACCOUNT_JSON=...

GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
GOOGLE_REDIRECT_URI=https://honmoon-api.site/api/auth/google/callback

BASIC_AUTH_USERNAME=...
BASIC_AUTH_PASSWORD=...
BASIC_AUTH_ROLE=ADMIN

# Mail (Google/Naver SMTP 설정 예시)
# Gmail
# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
# MAIL_USERNAME=your@gmail.com
# MAIL_PASSWORD=xxxx xxxx xxxx xxxx  # 앱 비밀번호(4단어 공백 포함 형식)
# MAIL_FROM=no-reply@honmoon.site    # 발신 표시 주소
# MAIL_LIST_UNSUBSCRIBE_URL=https://honmoon.site/unsubscribe
# MAIL_LIST_UNSUBSCRIBE_MAILTO=unsubscribe@honmoon.site
# MAIL_CONNECTION_TIMEOUT=5000
# MAIL_TIMEOUT=5000
# MAIL_WRITE_TIMEOUT=5000

# Naver
# MAIL_HOST=smtp.naver.com
# MAIL_PORT=587
# MAIL_USERNAME=your@naver.com
# MAIL_PASSWORD=naver_app_password
# MAIL_FROM=no-reply@honmoon.site
# MAIL_LIST_UNSUBSCRIBE_URL=https://honmoon.site/unsubscribe
# MAIL_LIST_UNSUBSCRIBE_MAILTO=unsubscribe@honmoon.site
